<%= content_for(:title,  '添加价格来源 | BLOCK') %>
<section class="content-header">
  <h1>
    <%= @block.block %>添加来源
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-balance-scale"></i> 区块差价管理</a></li>
    <li><i class="glyphicon glyphicon-edit"></i> 添加来源</li>
  </ol>
</section>
<section class="content">
  <div style="padding-top: 10px">
    <div class="box box-success">
      <div class="box-header">
        <h3 class="box-title">新增表单</h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</section>
