<%= content_for(:title,  '编辑货币余额| BLOCK') %>
<section class="content-header">
  <h1>
    货币余额
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-credit-card"></i> 货币余额管理</a></li>
    <li><i class="fa fa-btc"></i> 编辑货币</li>
  </ol>
</section>
<section class="content">
  <div style="padding-top: 10px">
    <div class="box box-warning">
      <div class="box-header">
        <h3 class="box-title">编辑表单</h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</section>