<div style="Margin-left: 20px;Margin-right: 20px;">
  <h2 style="Margin-top: 0;Margin-bottom: 16px;font-style: normal;font-weight: normal;color: #e31212;font-size: 26px;line-height: 34px;font-family: Avenir,sans-serif;text-align: center;">
    <strong>系统通知</strong><br>
    <%= Time.now.strftime('%Y-%m-%d %H:%M')%>
  </h2>
</div>

<div style="Margin-left: 20px;Margin-right: 20px;">
  <div class="divider" style="display: block;font-size: 2px;line-height: 2px;Margin-left: auto;Margin-right: auto;width: 100%;background-color: #ccc;Margin-bottom: 20px;">&nbsp;</div>
</div>

<div style="Margin-left: 20px;Margin-right: 20px;">
  <%= raw @msg %>
</div>

<div style="Margin-left: 20px;Margin-right: 20px;">
  <div class="divider" style="display: block;font-size: 2px;line-height: 2px;Margin-left: auto;Margin-right: auto;width: 100%;background-color: #ccc;Margin-bottom: 20px;">&nbsp;</div>
</div>