settings.host = 'http://www.example.com'
settings.devise_email = 'example@email.com'
settings.devise_password = 'password'
settings.email_stmp_address = 'smtp.email.com'
settings.email_stmp_port = '666'
settings.btc_id = '1234'
settings.btc_key = 'xxxxxxx'
settings.btc_secret = 'xxxxxx'