
<%= content_for(:title,  '编辑挂单买卖| BLOCK') %>
<section class="content-header">
  <h1>
    更新挂单
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 挂单管理</a></li>
    <li><i class="glyphicon glyphicon-edit"></i> 编辑挂单</li>
  </ol>
</section>
<section class="content">
  <div style="padding-top: 10px">
    <div class="box box-warning">
      <div class="box-header">
        <h3 class="box-title">编辑表单</h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</section>